body,p{
color: #141414;
font-family:arial;
font-size:18pt;
padding:0px;
margin:0px;
}

#screen{
border:2px solid black;
width:100%;
height:100%;
background: #E6FFE6;
 box-sizing:border-box;
}

#topbar{
width:100%;
height:20%;
background: #CCFFCC;
border-radius:0px 0px 25px 25px;
}

.topicon{
padding:10px;
padding-right:22px;
padding-left:22px;
float:left;

height:90%;
outline:none;
border-radius:25px 25px 0px 0px;
}


#panelbar{
float:left;
padding-left:10px;

}



    #warning-message { display: none; }
    @media only screen and (orientation:portrait){
        #screen { display:none; }
        #warning-message { display:block; }
    }
    @media only screen and (orientation:landscape){
        #warning-message { display:none; }
    }